# CybICS Docker Compose for Pi-Gen Image
# Uses local image names (loaded from tarballs on first boot)
services:
  hwio:
    image: cybics-hwio-raspberry:latest
    depends_on:
    - stm32
    - openplc
    restart: always
    privileged: true
    mem_limit: 48m
    volumes:
      - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket
    networks:
      br-cybics:
        ipv4_address: 172.18.0.2

  opcua:
    image: cybics-opcua:latest
    depends_on:
    - openplc
    restart: always
    mem_limit: 64m
    ports:
      - 4840:4840
    networks:
      br-cybics:
        ipv4_address: 172.18.0.5

  s7com:
    image: cybics-s7com:latest
    depends_on:
    - openplc
    restart: always
    mem_limit: 32m
    ports:
      - 1102:1102
    networks:
      br-cybics:
        ipv4_address: 172.18.0.6

  openplc:
    image: cybics-openplc:latest
    restart: always
    mem_limit: 96m
    volumes:
      - /var/run:/var/run
    ports:
      - 44818:44818
      - 20000:20000
      - 8080:8080
      - 502:502
      - 102:102
    networks:
      br-cybics:
        ipv4_address: 172.18.0.3

  fuxa:
    image: cybics-fuxa:latest
    restart: always
    mem_limit: 80m
    depends_on:
    - openplc
    ports:
      - 1881:1881
    volumes:
      - fuxa_data:/_appdata
    networks:
      br-cybics:
        ipv4_address: 172.18.0.4

  landing:
    image: cybics-landing:latest
    restart: always
    mem_limit: 64m
    depends_on:
    - openplc
    - fuxa
    cap_add:
      - NET_ADMIN
      - NET_RAW
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  stm32:
    image: cybics-stm32:latest
    privileged: true
    restart: always
    mem_limit: 32m
    ports:
      - 3333:3333
    networks:
      br-cybics:
        ipv4_address: 172.18.0.7

networks:
  br-cybics:
    name: br-cybics
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-cybics
    ipam:
      driver: default
      config:
        - subnet: 172.18.0.0/24
          gateway: 172.18.0.1

volumes:
  fuxa_data:
