version: "3.4"
services:
  dev:
    container_name: cybics-stm32
    image: cybics-stm32-dev
    build:
      context: ../..
      dockerfile: .devcontainer/stm32/Dockerfile
    env_file:
      - ../../.dev.env
      - ../../.env
    volumes:
      - ../../:/CybICS
      # Mount stm32 source into pre-baked Zephyr workspace
      - ../../software/stm32:/home/docker/zephyrproject/app
    user: ${HOST_UID:-1000}:${HOST_UID:-1000}
