version: "3.4"
services:
  readi2c:
    image: localhost:5000/cybics-readi2c:latest
    depends_on:
    - stm32
    - openplc
    restart: always
    privileged: true
    volumes:
      - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket

  opcua:
    image: localhost:5000/cybics-opcua:latest
    depends_on:
    - openplc
    restart: always
    ports:
      - 4840:4840

  openplc:
    image: localhost:5000/cybics-openplc:latest
    restart: always
    privileged: true
    ports:
      - 44818:44818
      - 20000:20000
      - 8080:8080
      - 502:502

  fuxa:
    image: localhost:5000/cybics-fuxa:latest
    restart: always
    depends_on:
    - openplc
    ports:
      - 1881:1881

  stm32:
    image: localhost:5000/cybics-stm32:latest
    privileged: true
    restart: always
    ports:
      - 3333:3333
