version: "3.4"
services:
  readi2c:
    image: localhost:5000/cybics-readi2c:latest
    depends_on:
    - stm32
    - openplc
    restart: always
    network_mode: host
    privileged: true

  openplc:
    image: localhost:5000/cybics-openplc:latest
    restart: always
    privileged: true
    ports:
      - 8080:8080
      - 502:502

  fuxa:
    image: localhost:5000/cybics-fuxa:latest
    network_mode: host
    restart: always
    depends_on:
    - openplc

  stm32:
    image: localhost:5000/cybics-stm32:latest
    privileged: true
    restart: always
    ports:
      - 3333:3333
