services:
  hwio:
    image: localhost:5000/cybics-hwio-raspberry:latest
    depends_on:
    - stm32
    - openplc
    restart: always
    privileged: true
    volumes:
      - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket
    networks:
      br-cybics:
        ipv4_address: 172.18.0.2

  opcua:
    image: localhost:5000/cybics-opcua:latest
    depends_on:
    - openplc
    restart: always
    ports:
      - 4840:4840
    networks:
      br-cybics:
        ipv4_address: 172.18.0.5

  s7com:
    image: localhost:5000/cybics-s7com:latest
    depends_on:
    - openplc
    restart: always
    ports:
      - 102:102
    networks:
      br-cybics:
        ipv4_address: 172.18.0.6

  openplc:
    image: localhost:5000/cybics-openplc:latest
    restart: always
    volumes:
      - /var/run:/var/run
    ports:
      - 44818:44818
      - 20000:20000
      - 8080:8080
      - 502:502
    networks:
      br-cybics:
        ipv4_address: 172.18.0.3

  fuxa:
    image: localhost:5000/cybics-fuxa:latest
    restart: always
    depends_on:
    - openplc
    ports:
      - 1881:1881
    networks:
      br-cybics:
        ipv4_address: 172.18.0.4

  stm32:
    image: localhost:5000/cybics-stm32:latest
    privileged: true
    restart: always
    ports:
      - 3333:3333

networks:
  br-cybics:
    name: br-cybics
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-cybics
    ipam:
      driver: default
      config:
        - subnet: 172.18.0.0/24
          gateway: 172.18.0.1
