<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CybICS HMI </title>
    <!--suppress JSUnresolvedLibraryURL -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--suppress JSUnresolvedLibraryURL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
          integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
    <h1>CybICS Web HMI</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            const config = {
                type: 'line',
                data: {
                    labels: Array(600).fill("0000-00-00 00:00:00"),
                    datasets: [{
                        label: "GST",
                        backgroundColor: 'rgb((173,216,230)',
                        borderColor: 'rgb(173,216,230)',
                        data: Array(600).fill(null),
                        fill: false,
                    },
                    {
                        label: "HPT",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: Array(600).fill(null),
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'CybICS HMI'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Value'
                            }
                        }]
                    }
                }
            };
    
            const context = document.getElementById('canvas').getContext('2d');
    
            const lineChart = new Chart(context, config);
    
            const source = new EventSource("/chart-data");
    
            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if (config.data.labels.length === 600) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                    config.data.datasets[1].data.shift();
                }
                config.data.labels.push(data.time);                
                config.data.datasets[0].data.push(data.gst)
                config.data.datasets[1].data.push(data.hpt);                
                lineChart.update();
            }
        });
    </script>       
</body>
</html>