services:
  attack:
    image: mniedermaier1337/cybicsattack:latest
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ../../.dev.env
      - ../../.env
    volumes:
      - ../../:/CybICS
      - ~/.ssh:/home/docker/.ssh/
      - ~/.gitconfig:/home/docker/.gitconfig
      - $DOCKER_ENV_DIR/.bash_history:/home/docker/.bash_history
    user: ${HOST_UID:-1000}:${HOST_UID:-1000}
    networks:
      virt-cybics:
        ipv4_address: 172.18.0.100

  openplc:
    image: mniedermaier1337/cybicsopenplc:latest
    build:
      context: ../../software/OpenPLC
      dockerfile: Dockerfile
    restart: always
    privileged: true
    ports:
      - 8080:8080
      - 502:502
    networks:
      virt-cybics:
        ipv4_address: 172.18.0.3

  opcua:
    image: mniedermaier1337/cybicsopcua:latest
    build:
      context: ../../software/opcua
      dockerfile: Dockerfile
    restart: always
    ports:
      - 4840:4840
    depends_on:
    - openplc
    networks:
      virt-cybics:
        ipv4_address: 172.18.0.5

  s7com:
    image: mniedermaier1337/cybicss7comlatest
    build:
      context: ../../software/s7com
      dockerfile: Dockerfile
    restart: always
    ports:
      - 102:102
    depends_on:
    - openplc
    networks:
      virt-cybics:
        ipv4_address: 172.18.0.6

  fuxa:
    image: mniedermaier1337/cybicsfuxa:latest
    build:
      context: ../../software/FUXA
      dockerfile: Dockerfile
    restart: always
    ports:
      - 1881:1881
    depends_on:
    - openplc
    networks:
      virt-cybics:
        ipv4_address: 172.18.0.4

  hwio:
    image: mniedermaier1337/cybicshwio:latest
    build:
      context: ../../software/hwio-virtual
      dockerfile: Dockerfile
    restart: always
    ports:
      - 80:8090
    depends_on:
    - openplc
    networks:
      virt-cybics:
        ipv4_address: 172.18.0.2

  surricata:
    build:
      context: ../../software/suricata
      dockerfile: Dockerfile
    restart: always
    depends_on: 
    - openplc
    - fuxa
    cap_add:
    - net_admin
    - net_raw
    - sys_nice
    volumes:
    - ../../software/suricata/config:/etc/suricata
    - ../../software/suricata/lib:/var/lib/suricata
    - ../../software/suricata/log:/var/log/suricata
    environment:
      SURICATA_OPTIONS: "-c /etc/suricata/suricata.yaml -i eth0"
    networks:
      virt-cybics:
        ipv4_address: 172.18.0.7

networks:
  virt-cybics:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.18.0.0/24
          gateway: 172.18.0.1

