<h2 class="section-title">Choose a Side</h2>
<div class="section-content">
  <div class="choose-side-container">
    <div class="side-column">
      <h2>Virtual Side</h2>
      <div class="side-content">
        <p>Experience the power of the virtual side:</p>
        <ul>
          <li>Setup in minutes</li>
          <li>Absolut zero cost</li>
          <li>Easy setup with docker compose</li>
        </ul>
        <a href="#getting-started" class="highlight-link">Explore Virtual Side</a>
      </div>
    </div>
    <div class="side-column">
      <h2>Hardware Side</h2>
      <div class="side-content">
        <p>Get hands-on with our physical implementation:</p>
        <ul>
          <li>For more experienced users</li>
          <li>Hardware with physical interaction for the testbed</li>
          <li>About 50 Euros</li>
        </ul>
        <div class="hardware-image">
          <img src="{{ "/assets/img/cybics.png" | prepend: site.baseurl }}" alt="CybICS Hardware Setup">
        </div>
        <a href="https://github.com/mniedermaier/CybICS/tree/main/hardware" class="highlight-link">Explore Hardware Side</a>
      </div>
    </div>
  </div>
</div> 