name: devContainer

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
  - cron: "0 0 * * *"

jobs:
  raspberry2204:
    name: Run devcontainer test raspberry on Ubuntu 22.04
    runs-on: ubuntu-22.04
   
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Check out code
        uses: actions/checkout@v3
        with:
          lfs: false
          submodules: recursive

      - name: "Create environment files"
        run: .devcontainer/prepare-env.sh

      - name: run tests software
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/raspberry/devcontainer.json
          env: .devcontainer/raspberry/.env
          runCmd: |
            docker ps
            software/build.sh

  raspberry2404:
    name: Run devcontainer test raspberry on Ubuntu 24.04
    runs-on: ubuntu-24.04
   
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Check out code
        uses: actions/checkout@v3
        with:
          lfs: false
          submodules: recursive

      - name: "Create environment files"
        run: .devcontainer/prepare-env.sh

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: run tests software
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/raspberry/devcontainer.json
          env: .devcontainer/raspberry/.env
          runCmd: |
            docker ps
            software/build.sh

  stm32:
    name: Run devcontainer test stm32
    runs-on: ubuntu-latest

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Check out code
        uses: actions/checkout@v3
        with:
          lfs: false
          submodules: recursive

      - name: Build STM32 devcontainer image
        run: |
          docker build \
            -t cybics-stm32-dev \
            -f .devcontainer/stm32/Dockerfile \
            .

      - name: Run west build in container
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/software/stm32:/home/docker/zephyrproject/app \
            -e ZEPHYR_BASE=/home/docker/zephyrproject/zephyr \
            -e ZEPHYR_TOOLCHAIN_VARIANT=zephyr \
            -e ZEPHYR_SDK_INSTALL_DIR=/home/docker/zephyr-sdk-0.17.4 \
            --user root \
            --entrypoint /bin/bash \
            cybics-stm32-dev \
            -c "
              git config --global --add safe.directory /home/docker/zephyrproject/zephyr
              git config --global --add safe.directory /home/docker/zephyrproject/app
              git config --global --add safe.directory /home/docker/zephyrproject/modules/hal/stm32
              git config --global --add safe.directory /home/docker/zephyrproject/modules/hal/cmsis
              git config --global --add safe.directory /home/docker/zephyrproject/modules/lib/picolibc
              cd /home/docker/zephyrproject/app && rm -rf build
              west build -b nucleo_g070rb
            "

  virtual:
    name: Run devcontainer test virtual
    runs-on: ubuntu-latest
   
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Check out code
        uses: actions/checkout@v3
        with:
          lfs: false
          submodules: recursive

      - name: "Create environment files"
        run: .devcontainer/prepare-env.sh
        
      - name: run tests for virtual environment
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/virtual/devcontainer.json
          env: .devcontainer/virtual/.env
          runCmd: |
            pwd
