name: KiBot

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  schema: "hardware/*.kicad_sch"
  board: "hardware/*.kicad_pcb"
  dir: "hardware/"
  config: "hardware/kibot.yaml"

jobs:
# checks
  ERC:
    runs-on: ubuntu-latest
    container:
      image: setsoft/kicad_auto:ki7
    steps:
      - uses: actions/checkout@v3
      - name: run kibot
        run: | 
          kibot -c ${{env.config}} -e ${{env.schema}} -b ${{env.board}} -d ${{env.dir}} -s run_drc -v -i
          
  DRC:
    runs-on: ubuntu-latest
    container:
      image: setsoft/kicad_auto:ki7
    steps:
      - uses: actions/checkout@v3
      - name: run kibot
        run: | 
          kibot -c ${{env.config}} -e ${{env.schema}} -b ${{env.board}} -d ${{env.dir}} -s run_erc -v -i

# documentation
  docs:
    runs-on: ubuntu-latest
    needs: [ERC]
    container:
      image: setsoft/kicad_auto:ki7
    steps:
      - uses: actions/checkout@v3
      - name: run kibot
        run: | 
          kibot -c ${{env.config}} -e ${{env.schema}} -b ${{env.board}} -d ${{env.dir}} -s run_erc,run_drc -v \
            schematic.pdf board_top.pdf board_bottom.pdf
      - uses: actions/upload-artifact@v4
        if: ${{success()}}
        with:
          name: ${{github.event.repository.name}}_docs
          if-no-files-found: error
          path: |
            ${{env.dir}}/docs/**
            !${{env.dir}}/**/*.ogv
            !${{env.dir}}/**/*.log
                      
  # images
  render:
    runs-on: ubuntu-latest
    needs: [DRC]
    container:
      image: setsoft/kicad_auto:ki7
    steps:
      - uses: actions/checkout@v3
      - name: run kibot
        run: | 
          kibot -c ${{env.config}} -e ${{env.schema}} -b ${{env.board}} -d ${{env.dir}} -s run_erc,run_drc -v \
            board_black_top.svg board_black_bottom.svg
      - uses: actions/upload-artifact@v4
        if: ${{success()}}
        with:
          name: ${{github.event.repository.name}}_img
          if-no-files-found: error
          path: |
            ${{env.dir}}/img/**
            !${{env.dir}}/**/*.ogv
            !${{env.dir}}/**/*.log
 
  render3d:
    runs-on: ubuntu-latest
    needs: [DRC]
    container:
      image: setsoft/kicad_auto:ki7
    steps:
      - uses: actions/checkout@v3
      - name: run kibot
        run: | 
          kibot -c ${{env.config}} -e ${{env.schema}} -b ${{env.board}} -d ${{env.dir}} -s run_erc,run_drc -v \
            render_3d_top
      - uses: actions/upload-artifact@v4
        if: ${{success()}}
        with:
          name: ${{github.event.repository.name}}_3dimg
          if-no-files-found: error
          path: |
            ${{env.dir}}/img/**
            !${{env.dir}}/**/*.ogv
            !${{env.dir}}/**/*.log

  pushChanges:
    runs-on: ubuntu-latest
    needs: [render,render3d,docs]

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: ${{github.event.repository.name}}_img
          path: ${{env.dir}}
      - uses: actions/download-artifact@v4
        with:
          name: ${{github.event.repository.name}}_3dimg
          path: ${{env.dir}}
      - uses: actions/download-artifact@v4
        with:
          name: ${{github.event.repository.name}}_docs
          path: ${{env.dir}}/docs
      # Commit all changed files back to the repository
      - uses: stefanzweifel/git-auto-commit-action@v5
